@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Sans+SC:wght@400;700;900&display=swap');

:root {
    --font-size: 3rem;
    --gap: 3rem;
}

body {
    padding: 1rem;
    margin: 0;
}

.page {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

textarea {
    width: 1280px;
}

.background {
    background-color: greenyellow;
    width: 1280px;
    height: 320px;
    font-family: "Noto Sans JP", "Noto Sans SC", sans-serif;
    font-weight: 900;
    font-size: var(--font-size);
    overflow: visible;
    color: black;
    padding: 12rem;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    box-sizing: content-box;
    white-space: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.middle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: var(--gap);
}

.left {
    display: flex;
    justify-content: left;
    height: var(--gap);
}

.right {
    display: flex;
    justify-content: right;
    height: var(--gap);
}

.hidden {
    opacity: 0;
}